# Dependencies
node_modules/

# Next.js
.next/
out/

# NestJS
dist/

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.production.local

# Prisma
prisma/dev.db
prisma/dev.db-journal

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json

# Coverage
coverage/

# Build files
build/